.vh{
    height: auto;
}

.subMain{
    background-color: rgb(255, 255, 255);
    border-radius: 25px 25px 0 0; 
}

@media screen and (max-width: 750px){
    .subMain{
        flex-direction: column;
    }
}
