#Pesquisador{
    width: 100%;
    height: 20%;
    padding-top: 20px;
}

#Organizador{
    width: 100%;
    height: 80%;
}

.search{
    width: 92%;
}

table{
    border-collapse: separate;
    border-spacing: 0 0px;
    margin: 0px !important;
}

.table thead tr{
    border-bottom: 1px solid #004b8c;
}

.table thead th{
    border-radius: 25px 25px 0 0;
}

tbody tr:last-child td:first-child {
    border-right: none;
    border-radius: 0 0 0 25px;
}
  
tbody tr:last-child td:last-child {
    border-left: none;
    border-radius: 0 0 25px 0;
}

.tr:hover td {
    background-color: #f0f8ff;
    cursor: pointer;
}

@media screen and (max-width: 750px){

    #boxConteiner{
        border-right: 0px !important;
        flex-direction: column;
        width: 100% !important;
        height: 50% !important;
    }

    #Pesquisador{
        height: 10% !important;
    }

    .search{
        flex-direction: column;
        width: 100% !important;
    }

}

#dropdown{
    padding-right: 2%;
}

#table{
    width: 90%;
    border: 2px groove#004b8c;
    border-radius: 25px;
}

.p-t{
    padding-top: 0% !important;
}

.input-group{
    padding-bottom: 0% !important;
}

#boxConteiner{
    width: 50%;
    height: 70%;
    flex-direction: column;
}